<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title id='title'>Open Location Service - OLS</title>
<link rel="shortcut icon" href="../resources/img/favicon.png" />

<!-- ** CSS ** -->
<!-- base library -->
<link rel="stylesheet" type="text/css" href="../resources/extJS/css/ext-all.css" />
<link rel="stylesheet" type="text/css" href="../resources/extJS/css/style.css" />
<link rel="stylesheet" type="text/css" href="../resources/css/style.css" />

<!-- Open Layers Lybrary -->
<script src="http://openlayers.org/api/OpenLayers.js"></script>
<!-- Google API -->
<!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script> -->
<!-- <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAAjpkAC9ePGem0lIq5XcMiuhR_wWLPFku8Ix9i2SXYRVK3e45q1BQUd_beF8dtzKET_EteAjPdGDwqpQ"></script> -->
<!-- <script src="http://maps.gstatic.com/intl/it_ALL/mapfiles/441c/maps2.api/main.js" type="text/javascript"></script> -->


<!-- ** Javascript ** -->
<!-- ExtJS library: base/adapter -->
<script type="text/javascript"
	src="../resources/extJS/adapter/ext-base.js"></script>
<!-- ExtJS library: all widgets -->
<script type="text/javascript" src="../resources/extJS/ext-all-debug.js"></script>


<!-- extensions Geocoding-->
<script type="text/javascript" src="components/georouting/FormGeorouting.js"></script>
<script type="text/javascript" src="components/georouting/ListViewGeorouting.js"></script>
<!-- extensions Reverse Geocoding-->
<script type="text/javascript" src="components/reverse/FormReverse.js"></script>
<!-- extensions Routing Navigation -->
<script type="text/javascript" src="components/routing/FormRoutingNavigation.js"></script>
<script type="text/javascript" src="components/routing/ListNavigationDirection.js"></script>
<!-- extensions Drag List Via Point -->
<script type="text/javascript" src="components/routing/DragViaPoint.js"></script>
<!-- extensions Config Workspace-->
<script type="text/javascript" src="components/configuration/ConfigForm.js"></script>

</head>
<!-- page specific http://vmap0.tiles.osgeo.org/wms/vmap0-->
<body>
	<fieldset class="mapContainer">
		<div id="map"></div>
	</fieldset>
      <script defer="defer" type="text/javascript">
      	//-------------------------------------
      	//Global variable
      	//-------------------------------------
      	var startMarker 			= null;
      	var endMarker 				= null;
      	var endFeature 				= null;
      	var viaFeature				= null;
      	var startFeature 			= null;
      	var indexVia 				= 0;
      	var vectorLayer 			= new OpenLayers.Layer.Vector("Overlay");
      	var routeLayer 				= new OpenLayers.Layer.Vector("Route");
      	var vertorHandlerPoint 		= new OpenLayers.Layer.Vector("Handler Point");
      	var vectorPointNavigation	= null;
      	var startVisible 			= false;
      	var endVisible 				= false;
      	var viaVisible 				= false;
      	var routeVisible 			= false;
      	var hpVisible 				= false;
      	var popup 					= null;
      	var popupSelection			= null;
      	var drag 					= null;
      	var dragLine 				= null;
      	var selectControl			= null;
      	var indexToDelete			= 0;
      	var indexFeatures		 	= [];
      	//--------------------------------------
      	// Get control of the right-click event:
		//--------------------------------------
		document.getElementById('map').oncontextmenu = function(e){
		 e = e?e:window.event;
		 if (e.preventDefault) e.preventDefault(); // For non-IE browsers.
		 else return false; // For IE browsers.
		};
		
		
		//-----------------------
		//Definizione FormREVERSE
		//-----------------------
      	var formReverse = new RGEO.ReverseGeoroutingForm();
      	formReverse.setHost(document.location.host+ ":" + document.location.port);
    	//---------------------------------------------------------------
    	//controllo aggiunto a openLayer per il recupero delle coordinate
    	//---------------------------------------------------------------
    	OpenLayers.Control.Click = OpenLayers.Class(OpenLayers.Control, {
              defaultHandlerOptions: {
                  'single': true,
                  'double': false,
                  'pixelTolerance': 0,
                  'stopSingle': false,
                  'stopDouble': false
              },
              handleRightClicks:true,
              initialize: function(options) {
                  this.handlerOptions = OpenLayers.Util.extend(
                      {}, this.defaultHandlerOptions
                  );
                  OpenLayers.Control.prototype.initialize.apply(
                      this, arguments
                  );
                  this.handler = new OpenLayers.Handler.Click(
                      this, {
                          'click': this.trigger,
                          'rightclick': this.triggerRight
                      }, this.handlerOptions
                  );
              },

              trigger: function(e) {
                  var lonlat = map.getLonLatFromPixel(e.xy);
                  lonlat.transform(new OpenLayers.Projection("EPSG:900913"), new OpenLayers.Projection("EPSG:4326"));
                  formReverse.getForm().findField('lat').setValue(lonlat.lat);
                  formReverse.getForm().findField('lon').setValue(lonlat.lon);
                  formReverse.callService(lonlat.lat, lonlat.lon, document.location.host + ":" + document.location.port, 'reverse');
                  
                  markers.clearMarkers();
				  var location = new OpenLayers.LonLat(lonlat.lon,lonlat.lat);
				  location.transform(new OpenLayers.Projection("EPSG:4326"), new OpenLayers.Projection("EPSG:900913"));
	  			  var size = new OpenLayers.Size(21,25);
	  			  var offset = new OpenLayers.Pixel(-(size.w/2), -size.h);
	  			  var icon = new OpenLayers.Icon('http://www.openlayers.org/dev/img/marker.png',size,offset);
	  			  markers.addMarker(new OpenLayers.Marker(location,icon.clone())); 
  			    
      			map.setCenter(location,17);
              },
              
              triggerRight: function(e) {
            	  var lonlat = map.getLonLatFromPixel(e.xy);
            	  
            	  if(popup == null){
	            	  popup = new OpenLayers.Popup.FramedCloud("featurePopup",
	                          lonlat,
	                          new OpenLayers.Size(200,200),
	                          "<div style='color: #15428b;'><img src='../resources/img/navigation.png'/><b> Navigation Route </b></div><hr>"
	                          	  +"<div style='font-size:.8em'>"	
		                          	+"<div style='padding: 5px; color: #5a7dac;'><b>Choose a point navigation to <br> start, stop or end the travel</b></div>"
		//                           +"Longitudine: "+lonlat.lon+ "<br> Latidutine: "+lonlat.lat
									+"<br><a href='#' onclick='addStartMarker("+lonlat.lon+","+lonlat.lat+");'>"
		                          	+"<IMG SRC='../resources/img/sta.png' ALIGN='absmiddle'> Start from here</a><br>"+
		                          	
		                          	"<a href='#' onclick='addEndMarker("+lonlat.lon+","+lonlat.lat+");'>"
		                          	+"<IMG SRC='../resources/img/fin.png' ALIGN='absmiddle'> End to here</a><br><br>"+
		                          	
		                          	"<a href='#' onclick='addViaMarker("+lonlat.lon+","+lonlat.lat+");'>"
		                          	+"<IMG SRC='../resources/img/via.png' ALIGN='absmiddle'> Stop Here</a>"
		                          +"</div>",
	                          null, true);
	
	       			  map.addPopup(popup);
            	  }else{
            		  popup.destroy();
            		  popup = new OpenLayers.Popup.FramedCloud("featurePopup",
	                          lonlat,
	                          new OpenLayers.Size(200,200),
	                          "<div style='color: #15428b;'><img src='../resources/img/navigation.png'/><b> Navigation Route </b></div><hr>"
                          	  +"<div style='font-size:.8em'>"	
	                          	+"<div style='padding: 5px; color: #5a7dac;'><b>Choose a point navigation to <br> start, stop or end the travel</b></div>"
	//                           +"Longitudine: "+lonlat.lon+ "<br> Latidutine: "+lonlat.lat
								+"<br><a href='#' onclick='addStartMarker("+lonlat.lon+","+lonlat.lat+");'>"
	                          	+"<IMG SRC='../resources/img/sta.png' ALIGN='absmiddle'> Start from here</a><br>"+
	                          	
	                          	"<a href='#' onclick='addEndMarker("+lonlat.lon+","+lonlat.lat+");'>"
	                          	+"<IMG SRC='../resources/img/fin.png' ALIGN='absmiddle'> End to here</a><br><br>"+
	                          	
	                          	"<a href='#' onclick='addViaMarker("+lonlat.lon+","+lonlat.lat+");'>"
	                          	+"<IMG SRC='../resources/img/via.png' ALIGN='absmiddle'> Stop Here</a>"
	                          +"</div>",
	                          null, true);
            		  map.addPopup(popup);
            	  }
              }
              

		});
    	//--------------
    	//Fine controllo
    	//--------------
      
        var map = new OpenLayers.Map('map', {
            controls:[
                      new OpenLayers.Control.Navigation(),
                      new OpenLayers.Control.PanZoomBar(),
                      new OpenLayers.Control.LayerSwitcher(),
                      new OpenLayers.Control.Attribution()],
                      maxExtent: new OpenLayers.Bounds(-20037508.34,-20037508.34,20037508.34,20037508.34),
                      maxResolution: 156543.0399,
                      numZoomLevels: 21,
//                       units: 'm',
                      projection: new OpenLayers.Projection("EPSG:900913"),
                      displayProjection: new OpenLayers.Projection("EPSG:4326")
                  } );
        		
        
		//-----------------
		//Add Google Layers
		//-----------------
// 		var gphy = new OpenLayers.Layer.Google(
// 			"Google Physical",
// 			{type: G_PHYSICAL_MAP}
// 		);
// 		var gmap = new OpenLayers.Layer.Google(
// 			"Google Streets", // the default
// 			{numZoomLevels: 20}
// 		);
// 		var ghyb = new OpenLayers.Layer.Google(
// 			"Google Hybrid",
// 			{type: G_HYBRID_MAP, numZoomLevels: 20}
// 		);
// 		var gsat = new OpenLayers.Layer.Google(
// 			"Google Satellite",
// 			{type: G_SATELLITE_MAP, numZoomLevels: 22}
// 		);
// 		map.addLayers([ghyb, gphy, gmap, gsat]);

		// OSM layers
		var classic = new OpenLayers.Layer.OSM();	
		var transport = new OpenLayers.Layer.OSM("Transport",
                ["http://a.tile2.opencyclemap.org/transport/${z}/${x}/${y}.png",
                 "http://b.tile2.opencyclemap.org/transport/${z}/${x}/${y}.png",
                 "http://c.tile2.opencyclemap.org/transport/${z}/${x}/${y}.png"]);			
		var cyclemap = new OpenLayers.Layer.OSM("OpenCycleMap",
				  ["http://a.tile.opencyclemap.org/cycle/${z}/${x}/${y}.png",
				   "http://b.tile.opencyclemap.org/cycle/${z}/${x}/${y}.png",
				   "http://c.tile.opencyclemap.org/cycle/${z}/${x}/${y}.png"]);
		var landscape = new OpenLayers.Layer.OSM("Landscape",
                ["http://a.tile3.opencyclemap.org/landscape/${z}/${x}/${y}.png",
                "http://b.tile3.opencyclemap.org/landscape/${z}/${x}/${y}.png",
                "http://c.tile3.opencyclemap.org/landscape/${z}/${x}/${y}.png"]);
		map.addLayers([classic, transport, cyclemap, landscape]);
		map.addLayer(vertorHandlerPoint);
	
// 		map.addLayer(new OpenLayers.Layer.OSM());
		//-----------------
		//End Google Layers
		//-----------------
        
        
        markers = new OpenLayers.Layer.Markers("StreetMarker");   			
        map.addLayer(markers);
        var boundsMap = new OpenLayers.Bounds(8.93, 42, 13.36, 44.61).transform(new OpenLayers.Projection("EPSG:4326"), new OpenLayers.Projection("EPSG:900913"));;
//         map.zoomToMaxExtent(boundsMap);
        
      	//---------------------------------       //Aggiunta del controllo alla mappa
        //---------------------------------
        map.addControl(new OpenLayers.Control.LayerSwitcher());
        // map.setCenter(new OpenLayers.LonLat(0, 0), 0);
        map.zoomToExtent(boundsMap);

        var click = new OpenLayers.Control.Click();
        map.addControl(click);
        click.activate();
        
        
        //--------------------------------
        //Definizione dei componenti extJS
        //--------------------------------
        Ext.onReady(function() {
    		Ext.QuickTips.init();
    		
    		//------------------
    		//Form Configurazion
    		//------------------
    		//var formConfig = new CONFIG.ConfigForm();
			//formConfig.render(document.body);
    		//--------------
    		//Form Georuting
    		//--------------
    		var form = new GEO.GeoroutingForm();
    		form.render(document.body);
    		form.setHost(document.location.host + ":" + document.location.port);
    		
    		//-----------------------
    		//Form Reverse Georouting
    		//-----------------------
    		formReverse.render(document.body);
    		
    		//-----------------------
    		//Form Routing Navigation
    		//-----------------------
    		var formRN = new RNGEO.RoutinNavigationForm();
    		formRN.render(document.body);
    		
    		//--------------------------
    		//List  Navigation Direction
    		//--------------------------
    		var listRN = new RNGEO.ListNavigationDirection();
    		listRN.render(document.body);
    		
    		//----------------------------------
    		//Lista dei Via Point - Destinazioni
    		//----------------------------------
    		var listViaPoint = new DRAGVP.DragListViaPoint();
    		listViaPoint.render(document.body);
    		
    		//-----------------------
    		//Lista dei Risulatti GEO
    		//-----------------------
    		var listGeo = new GEO.ListGeoroutingForm();
    		listGeo.render(document.body);
    		
    		document.addEventListener("georoutingEvent",handlerZoom,false);
    		
    		//Definizione del handler
    		function handlerZoom(event){
    			var position = event.pos;
    			var lon = position.split(" ")[0];
    			var lat = position.split(" ")[1];
    			
				//Add Marker Place
				markers.clearMarkers();
// 				var location = new OpenLayers.LonLat(lon,lat);
				var location = new OpenLayers.LonLat(lon,lat);
				location.transform(new OpenLayers.Projection("EPSG:4326"), new OpenLayers.Projection("EPSG:900913"));
				
				var size = new OpenLayers.Size(21,25);
			    var offset = new OpenLayers.Pixel(-(size.w/2), -size.h);
			    var icon = new OpenLayers.Icon('http://www.openlayers.org/dev/img/marker.png',size,offset);
			    markers.addMarker(new OpenLayers.Marker(location,icon.clone())); 
			    
    			map.setCenter(location,17);
    		}
    		
    		
    		//---------------------------------
    		//Dispacher dell'evento START Point
    		//---------------------------------
    		document.addEventListener("startPointEvent",handlerZoomStartPoint,false);
    		
    		//Definizione del handler
    		function handlerZoomStartPoint(event){
    			var position = event.pos;
    			var lon = position.split(" ")[0];
    			var lat = position.split(" ")[1];
				var location = new OpenLayers.LonLat(lon,lat).transform(new OpenLayers.Projection("EPSG:4326"), new OpenLayers.Projection("EPSG:900913"));
			    
			    if(startFeature != null)
			    	startFeature.destroy();
			    
			    if(startVisible){
					vertorHandlerPoint.removeFeatures(vertorHandlerPoint.getFeatureByFid('startPoint'));
					startVisible = false;
			    }
			    
			    var point = new OpenLayers.Geometry.Point(lon, lat).transform( new OpenLayers.Projection("EPSG:4326"), map.getProjectionObject());
			 	// create some attributes for the feature
			    var attributes = {name: "startPoint"};
			    startFeature = new OpenLayers.Feature.Vector(
			    						point, attributes,
			     						{externalGraphic: '../resources/img/startPoint.png', graphicHeight: 39, graphicWidth: 21}
			     						);
				vertorHandlerPoint.addFeatures(startFeature);
			    startFeature.fid = 'startPoint';
			  	//Setting della geometria - StartPoint
			  	var locationPoint = new OpenLayers.LonLat(location.lon,location.lat).transform(new OpenLayers.Projection("EPSG:900913"), new OpenLayers.Projection("EPSG:4326"));
	            formRN.setStartPoint(locationPoint);
			    
			    startVisible = true;
			    
			    handlerStartEndControl(vertorHandlerPoint, event);
    			map.setCenter(location,17);
    			
    			//Ricalcolo del percorso
	            formRN.recalculateNavigation();
    		}
    		
    		//-------------------------------
    		//Dispacher dell'evento END Point
    		//-------------------------------
    		document.addEventListener("endPointEvent",handlerZoomEndPoint,false);
    		
    		//Definizione del handler
    		function handlerZoomEndPoint(event){
    			var position = event.pos;
    			var lon = position.split(" ")[0];
    			var lat = position.split(" ")[1];
				var location = new OpenLayers.LonLat(lon,lat).transform(new OpenLayers.Projection("EPSG:4326"), new OpenLayers.Projection("EPSG:900913"));
			    
			    if(endFeature != null)
			    	endFeature.destroy();
			    
			    if(endVisible){
			    	vertorHandlerPoint.removeFeatures(vertorHandlerPoint.getFeatureByFid('endPoint'));
					endVisible = false;
			    }
			    
			    var point = new OpenLayers.Geometry.Point(lon, lat).transform( new OpenLayers.Projection("EPSG:4326"), map.getProjectionObject());
			    var attributes = {name: "endPoint"};
			    endFeature = new OpenLayers.Feature.Vector(
			    						point, attributes,
			     						{externalGraphic: '../resources/img/endPoint.png', graphicHeight: 39, graphicWidth: 21});
			    endFeature.fid = 'endPoint';
			    vertorHandlerPoint.addFeatures(endFeature);
			  	//Setting della geometria - EndPoint
			  	var locationPoint = new OpenLayers.LonLat(location.lon,location.lat).transform(new OpenLayers.Projection("EPSG:900913"), new OpenLayers.Projection("EPSG:4326"));
	            formRN.setEndPoint(locationPoint);
			  	
			    endVisible = true;
			    
			    handlerStartEndControl(vertorHandlerPoint, event);
    			map.setCenter(location,17);
    			
    			//Ricalcolo del percorso
	            formRN.recalculateNavigation();
    		}
    		
    	});
        
      	//-------------------------------
		//Dispacher dell'evento Via Point
		//-------------------------------
		document.addEventListener("viaPointEvent",handlerZoomViaPoint,false);
		
		//Definizione del handler
		function handlerZoomViaPoint(event){
			formRN = Ext.getCmp("routingID");
			var position = event.pos;
			var lon = position.split(" ")[0];
			var lat = position.split(" ")[1];
			
			var location = new OpenLayers.LonLat(lon,lat).transform(new OpenLayers.Projection("EPSG:4326"), new OpenLayers.Projection("EPSG:900913"));
			var locationPoint = new OpenLayers.LonLat(location.lon,location.lat).transform(new OpenLayers.Projection("EPSG:900913"), new OpenLayers.Projection("EPSG:4326"));
			
			//Call Reverse Geocoding
        	formReverse.getForm().findField('lat').setValue(locationPoint.lat);
            formReverse.getForm().findField('lon').setValue(locationPoint.lon);
            formReverse.callService(locationPoint.lat, locationPoint.lon, document.location.host + ":" + document.location.port, 'reverseViaPoint');
		    
		    
			var point = new OpenLayers.Geometry.Point(lon, lat).transform(new OpenLayers.Projection("EPSG:4326"), new OpenLayers.Projection("EPSG:900913"));
 		    indexVia += 1;
		    var attributes = {
		    					name: "viaPoint",
		    					index: indexVia 
		    				  };
		    viaFeature = new OpenLayers.Feature.Vector(
		    						point, attributes,
		     						{externalGraphic: '../resources/img/viaPoint.png', graphicHeight: 39, graphicWidth: 21});
		    
		    viaFeature.fid = 'viaPoint';
		    vertorHandlerPoint.addFeatures(viaFeature);
		    
		  	
		    selectControl = new OpenLayers.Control.SelectFeature([vertorHandlerPoint, vectorPointNavigation],
	                {	autoActivate: true,
		    			onSelect: function(feature){
							if(feature.fid == "viaPoint"){
			    				selectedFeature = feature;
			    				if(popupSelection == null){
			    					popupSelection = new OpenLayers.Popup.FramedCloud("chicken", 
				    	                                     feature.geometry.getBounds().getCenterLonLat(),
				    	                                     new OpenLayers.Size(100,300),
				    	                                     "<div style='font-size:.8em'><b>Action on Feature</b><br><IMG SRC='../resources/img/deleteVia.png' ALIGN='absmiddle'><a href='#' onclick='removeViaPoint("+feature.attributes.index+","+false+");'>Remove Via Point</a></div>",
				    	                                     null, true);
				    	            feature.popup = popupSelection;
				    	            map.addPopup(popupSelection);
			    				}else{
			    					popupSelection.destroy();
			    					popupSelection = new OpenLayers.Popup.FramedCloud("chicken", 
   	                                     feature.geometry.getBounds().getCenterLonLat(),
   	                                     new OpenLayers.Size(100,300),
   	                                     "<div style='font-size:.8em'><b>Action on Feature</b><br><IMG SRC='../resources/img/deleteVia.png' ALIGN='absmiddle'><a href='#' onclick='removeViaPoint("+feature.attributes.index+","+false+");'>Remove Via Point</a></div>",
   	                                     null, true);
					   	            feature.popup = popupSelection;
					   	            map.addPopup(popupSelection);
			    				}
							}
		    			}
	                });
		    map.addControl(selectControl);
		    map.setCenter(locationPoint.transform(new OpenLayers.Projection("EPSG:4326"), new OpenLayers.Projection("EPSG:900913")),17);
		    
		  	formRN.addToViaPoint(new OpenLayers.LonLat(lon,lat));
			formRN.recalculateNavigation();
            viaVisible = true;
		}
		
// 	});
        
        /**
        * Questa funzione si occupa di aggiungere un marker "Finale" alla mappa
        * dal quale verra' calcolato il percorso tramite il servizio di routingNavigation
        */
        function addEndMarker(lon, lat){
        	popup.hide();
        	formRN = Ext.getCmp("routingID");
			var location = new OpenLayers.LonLat(lon,lat).transform(new OpenLayers.Projection("EPSG:900913"), new OpenLayers.Projection("EPSG:4326"));
		    
		    if(endFeature != null)
		    	endFeature.destroy();
		    
		    if(endVisible){
		    	vertorHandlerPoint.removeFeatures(vertorHandlerPoint.getFeatureByFid('endPoint'));
				endVisible = false;
		    }
		    
		    var point = new OpenLayers.Geometry.Point(lon, lat).transform( new OpenLayers.Projection("EPSG:900913"), map.getProjectionObject());
		    var attributes = {name: "endPoint"};
		    endFeature = new OpenLayers.Feature.Vector(
		    						point, attributes,
		     						{externalGraphic: '../resources/img/endPoint.png', graphicHeight: 39, graphicWidth: 21});
		    endFeature.fid = 'endPoint';
		    vertorHandlerPoint.addFeatures(endFeature);
		    
		    formReverse.getForm().findField('lat').setValue(lat);
            formReverse.getForm().findField('lon').setValue(lon);
            formReverse.callService(location.lat, location.lon, document.location.host + ":" + document.location.port, 'reverseEnd');
          	//Setting della geometria - EndPoint
            formRN.setEndPoint(location);
          	//Ricalcolo del percorso
            formRN.recalculateNavigation();
          	
            endVisible = true;
//		    handlerStartEndControl(vertorHandlerPoint, event);
      	}
        
        /**
         * Questa funzione si occupa di aggiungere un marker "Intermedio" alla mappa
         * dal quale verra' calcolato il percorso per cui passare tramite il servizio di routingNavigation
         */
        function addViaMarker(lon, lat){
        	popup.hide();
        	formRN = Ext.getCmp("routingID");
        	
        	var location = new OpenLayers.LonLat(lon,lat).transform(new OpenLayers.Projection("EPSG:900913"), new OpenLayers.Projection("EPSG:4326"));
        	//Call Reverse Geocoding
        	formReverse.getForm().findField('lat').setValue(location.lat);
            formReverse.getForm().findField('lon').setValue(location.lon);
            formReverse.callService(location.lat, location.lon, document.location.host + ":" + document.location.port, 'reverseViaPoint');
        	
 		    var point = new OpenLayers.Geometry.Point(lon, lat).transform( new OpenLayers.Projection("EPSG:900913"), map.getProjectionObject());
 		    indexVia += 1;
		    var attributes = {
		    					name: "viaPoint",
		    					index: indexVia 
		    				  };
		    viaFeature = new OpenLayers.Feature.Vector(
		    						point, attributes,
		     						{externalGraphic: '../resources/img/viaPoint.png', graphicHeight: 39, graphicWidth: 21});
		    
		    viaFeature.fid = 'viaPoint';
		    vertorHandlerPoint.addFeatures(viaFeature);
		    
		    selectControl = new OpenLayers.Control.SelectFeature([vertorHandlerPoint, vectorPointNavigation],
	                {	autoActivate: true,
		    			onSelect: function(feature){
							if(feature.fid == "viaPoint"){
			    				selectedFeature = feature;
			    				if(popupSelection == null){
			    					popupSelection = new OpenLayers.Popup.FramedCloud("chicken", 
				    	                                     feature.geometry.getBounds().getCenterLonLat(),
				    	                                     new OpenLayers.Size(100,300),
				    	                                     "<div style='color: #15428b;'><img src='../resources/img/navigation.png'/><b> Action on Feature </b></div><hr><br><IMG SRC='../resources/img/deleteVia.png' ALIGN='absmiddle'><a href='#' onclick='removeViaPoint("+feature.attributes.index+","+false+");'>Remove Via Point</a></div>",
				    	                                     null, true);
				    	            feature.popup = popupSelection;
				    	            map.addPopup(popupSelection);
			    				}else{
			    					popupSelection.destroy();
			    					popupSelection = new OpenLayers.Popup.FramedCloud("chicken", 
   	                                     feature.geometry.getBounds().getCenterLonLat(),
   	                                     new OpenLayers.Size(100,300),
   	                                  "<div style='color: #15428b;'><img src='../resources/img/navigation.png'/><b> Action on Feature </b></div><hr><br><IMG SRC='../resources/img/deleteVia.png' ALIGN='absmiddle'><a href='#' onclick='removeViaPoint("+feature.attributes.index+","+false+");'>Remove Via Point</a></div>",
   	                                     null, true);
					   	            feature.popup = popupSelection;
					   	            map.addPopup(popupSelection);
			    				}
							}
		    			}
	                });
	                
		    //map.addControl(selectControl);
         	formRN.addToViaPoint(location);
			formRN.recalculateNavigation();
         	
            viaVisible = true;
        }
      	
        /**
         * Questa funzione si occupa di aggiungere un marker "Finale" alla mappa
         * dal quale verra' calcolato il percorso tramite il servizio di routingNavigation
         */
      	function addStartMarker(lon, lat){
        	popup.hide();
      		formRN = Ext.getCmp("routingID");
			var location = new OpenLayers.LonLat(lon,lat).transform(new OpenLayers.Projection("EPSG:900913"), new OpenLayers.Projection("EPSG:4326"));
		    
		    if(startFeature != null)
		    	startFeature.destroy();
		    
		    if(startVisible){
				vertorHandlerPoint.removeFeatures(vertorHandlerPoint.getFeatureByFid('startPoint'));
				startVisible = false;
		    }
		    
		    var point = new OpenLayers.Geometry.Point(lon, lat).transform( new OpenLayers.Projection("EPSG:900913"), map.getProjectionObject());
		    var attributes = {name: "startPoint"};
		    startFeature = new OpenLayers.Feature.Vector(
					point, attributes,
						{externalGraphic: '../resources/img/startPoint.png', graphicHeight: 39, graphicWidth: 21}
						);
			startFeature.fid = 'startPoint';
		    vertorHandlerPoint.addFeatures(startFeature);
		    
		    formReverse.getForm().findField('lat').setValue(lat);
            formReverse.getForm().findField('lon').setValue(lon);
            formReverse.callService(location.lat, location.lon, document.location.host + ":" + document.location.port, 'reverseStart');
            //Setting della geometria - StartPoint
            formRN.setStartPoint(location);
            //Ricalcolo del percorso
            formRN.recalculateNavigation();
            
            startVisible = true;
		    handlerStartEndControl(vertorHandlerPoint, event);
      	}
        
      	//-------------------------------
		//Dispacher dell'evento RouteList
		//-------------------------------
		document.addEventListener("routePointEvent",handlerRoutePoint,false);
      	
		function handlerRoutePoint(event){
			var routeMLS = event.routeList;
			var points = routeMLS.split(",");
			
			var BBox = event.BBox;
			//Creazione del BoundingBox per lo Zoom
			var BBoxPoints = BBox.split(",");
			bounds = new OpenLayers.Bounds();
			for(var i=0; i<BBoxPoints.length; i++){
				var y = BBoxPoints[i].split(" ")[0];
				var x = BBoxPoints[i].split(" ")[1];
				bounds.extend(new OpenLayers.LonLat(x,y).transform(new OpenLayers.Projection("EPSG:4326"), new OpenLayers.Projection("EPSG:900913")));
			}
// 			//Controllo se è gia presente un altro persorso
			if(routeVisible){
				routeLayer.removeAllFeatures();
				map.removeLayer(routeLayer);  
				routeVisible = false;
			}else{			
				routeLayer = new OpenLayers.Layer.Vector("Route");
			}
			map.addLayer(routeLayer);  
			routeVisible = true;
			
			//Crea un array di Points
			arrayPoints = new Array();
			for(var i=0; i<points.length; i++){
				var y = points[i].split(" ")[0];
				var x = points[i].split(" ")[1];
				pointGeo = new OpenLayers.Geometry.Point(x,y).transform(new OpenLayers.Projection("EPSG:4326"), new OpenLayers.Projection("EPSG:900913"));
				arrayPoints.push(pointGeo);
			}
			
			//Creazione della LineString
			var lineGeo = new OpenLayers.Geometry.LineString(arrayPoints);
			var style = { 
					  strokeColor: '#0000ff', 
					  strokeOpacity: 0.5,
					  strokeWidth: 5
					};
			
			var attributes = {name: "line"};
			var lineFeature = new OpenLayers.Feature.Vector(lineGeo, attributes, style);
			lineFeature.fid = 'line';
			routeLayer.addFeatures([lineFeature]);
			
			map.setLayerIndex(routeLayer, 2);
			map.zoomToExtent(bounds);
		}
		
		//-------------------------------
		//Dispacher dell'evento geoNavigationInfo
		//-------------------------------
		document.addEventListener("geoNavigationInfoEvent",handlerNavigationInfoMarker,false);
		
		/**
		* Hadler per la visualizzazione dei punti intermeti presenti all'interno di un persorso
		* Si occupa della visualizzazione tramte popup delle informazione relative alle singole svolte
		* Il popup viene automaticamente mostrato all'evento hover del mouse sulle features
		**/
		function handlerNavigationInfoMarker(event){
			
			//Recupero delle informazioni dall'evento 
			routeInfo 		= event.navigationInfo;
			routePos 		= event.pos;
			var dimInfo 	= routeInfo.length;
			var dimPos 		= routePos.length;
			var features 	= [];
			
			//Controllo se deve essere eliminato il layer precedente
			if(vectorPointNavigation != null){
				vectorPointNavigation.removeAllFeatures();
				map.removeLayer(vectorPointNavigation);
			}
			
			if(dimInfo == dimPos){
				//Ciclo gli elementi per la creazione delle features da aggiungere all'array
				for(var i=0; i<dimInfo; i++){
					var posInfo 		= routePos[i];
					var y 				= posInfo.split(" ")[0];
					var x 				= posInfo.split(" ")[1];
					var point 			= new OpenLayers.Geometry.Point(x, y).transform( new OpenLayers.Projection("EPSG:4326"), map.getProjectionObject());
					var attributes 		= {name: "routePoint",foo: routeInfo[i]};
					//Definizione della featurer
					features[i] = new OpenLayers.Feature.Vector(
    						point, 
    						attributes,{
    							externalGraphic: '../resources/img/routeInfo.png', 
    							graphicHeight: 11, 
    							graphicWidth: 11}
     						);
				}
			}else{
				alert("ERRORE: Impossibile calcore i punti intermedi del percorso!");
				return;
			}
		    
		 // create the layer with listeners to create and destroy popups
		    vectorPointNavigation = new OpenLayers.Layer.Vector("Points Navigation",{
		        eventListeners:{
		            'featureselected':function(evt){
		                var feature = evt.feature;
		                var popup = new OpenLayers.Popup.FramedCloud("popup",
		                    OpenLayers.LonLat.fromString(feature.geometry.toShortString()),
		                    null,
		                    "<div style='font-size:.8em'><div style='color: #15428b;'><img src='../resources/img/infoTravel.png'/><b> Navigation Info</b></div><hr><br><div style='padding: 5px; color: #5a7dac;'><b>" +feature.attributes.foo+"</b></div>",
		                    null,
		                    true
		                );
		                popup.setBorder("2px");
		                feature.popup = popup;
		                map.addPopup(popup);
		            },
		            'featureunselected':function(evt){
		                var feature = evt.feature;
		                map.removePopup(feature.popup);
		                feature.popup.destroy();
		                feature.popup = null;
		            }
		        }
		    });
		    
			vectorPointNavigation.addFeatures(features);
		    
		 	// create the select feature control
		    var selector = new OpenLayers.Control.SelectFeature([vectorPointNavigation, vertorHandlerPoint],{
		        hover:true,
		        autoActivate:true,
		        onSelect: function(feature){
		        	if(feature.fid == "viaPoint"){
// 		        		alert(feature.fid);
		        		selectedFeature = feature;
	    				if(popupSelection == null){
	    					popupSelection = new OpenLayers.Popup.FramedCloud("chicken", 
		    	                                     feature.geometry.getBounds().getCenterLonLat(),
		    	                                     new OpenLayers.Size(100,300),
		    	                                     "<div style='color: #15428b;'><img src='../resources/img/navigation.png'/><b> Action on Feature </b></div><hr><br><IMG SRC='../resources/img/deleteVia.png' ALIGN='absmiddle'><a href='#' onclick='removeViaPoint("+feature.attributes.index+","+false+");'>Remove Via Point</a>",
		    	                                     null, true);
		    	            feature.popup = popupSelection;
		    	            map.addPopup(popupSelection);
	    				}else{
	    					popupSelection.destroy();
	    					popupSelection = new OpenLayers.Popup.FramedCloud("chicken", 
                                    feature.geometry.getBounds().getCenterLonLat(),
                                    new OpenLayers.Size(100,300),
                                    "<div style='color: #15428b;'><img src='../resources/img/navigation.png'/><b> Action on Feature </b></div><hr><br><IMG SRC='../resources/img/deleteVia.png' ALIGN='absmiddle'><a href='#' onclick='removeViaPoint("+feature.attributes.index+","+false+");'>Remove Via Point</a>",
                                    null, true);
			   	            feature.popup = popupSelection;
			   	            map.addPopup(popupSelection);
	    				}
		        	}
		        }
		    });

		 	map.addLayer(vectorPointNavigation);
		 	map.addControl(selector);
		    
		}
		
		function handlerRouteControl(rVector, feature, navInfo){
			alert(navInfo);
			var controls = new Array();
			var lonInit = null;
			var latInit = null;
			var pointInit = null;
			var pointStart = null;
				 drag = new OpenLayers.Control.DragFeature(rVector, {
			        autoActivate: true,
			        onStart: function(navInfo) {
			        	alert(navInfo);
			        }
			    });
			 	controls.push(drag);
				map.addControls(controls);
		}
		/**
		*	Funzione di Ricalcolo del Percorso al momento del DRAG dei punti (Start , VIa , End)
		**/
		function handlerStartEndControl(hpVector, feature){
			formRN = Ext.getCmp("routingID");
			var controls = new Array();
			var lonInit = null;
			var latInit = null;
			var pointInit = null;
			var pointStart = null;
				if(drag == null){
				 drag = new OpenLayers.Control.DragFeature(hpVector, {
			        autoActivate: true,
			        onStart: function(feature) {
			        	if(feature.fid == null){
							this.deactivate();
						}
			        },
			        onComplete: function(feature) {
		        		//Chiama il servizio di reverse geocoding
		        		var lon = feature.geometry.getBounds().getCenterLonLat().lon;
		        		var lat = feature.geometry.getBounds().getCenterLonLat().lat;
		        		var location = new OpenLayers.LonLat(lon,lat).transform(new OpenLayers.Projection("EPSG:900913"), new OpenLayers.Projection("EPSG:4326"));
		        		
		        		formReverse.getForm().findField('lat').setValue(location.lat);
		                formReverse.getForm().findField('lon').setValue(location.lon);
		                
						if(feature.fid != null && feature.fid.toString() == "startPoint"){
							formReverse.callService(location.lat, location.lon, document.location.host + ":" + document.location.port, 'reverseStart');
		                	formRN.setStartPoint(location);
		                	formRN.recalculateNavigation();
						}
						if(feature.fid != null && feature.fid.toString() == "endPoint"){
							formReverse.callService(location.lat, location.lon, document.location.host + ":" + document.location.port, 'reverseEnd');
							formRN.setEndPoint(location);
							formRN.recalculateNavigation();
						}
						if(feature.fid != null && feature.fid.toString() == "viaPoint"){
							indexF = feature.attributes.index;
							formReverse.setIndexFeature(indexF);
							formReverse.callService(location.lat, location.lon, document.location.host + ":" + document.location.port, 'reverseViaPoint_drag');
							formRN.updateViaPoint(feature.attributes.index, location);	
							formRN.recalculateNavigation();
						}
						if(feature.fid == null){
							this.deactivate();
						}
			        }
			    });
			 	controls.push(drag);
				map.addControls(controls);
				}
		}
		
		/**
		/* Funzione per la gestione dei punti Intermedi
		**/
		function handlerViaControl(hpVector, feature){
			if(selectControl == null){			
				selectControl = new OpenLayers.Control.SelectFeature(hpVector,
		                {	autoActivate: true,
			    			onSelect: function(feature){
								if(feature.fid == "viaPoint"){
				    				selectedFeature = feature;
				    				if(popupSelection == null){
				    					popupSelection = new OpenLayers.Popup.FramedCloud("chicken", 
					    	                                     feature.geometry.getBounds().getCenterLonLat(),
					    	                                     new OpenLayers.Size(100,300),
					    	                                     "<div style='font-size:.8em'><b>Action on Feature</b><br><IMG SRC='../resources/img/deleteVia.png' ALIGN='absmiddle'><a href='#' onclick='removeViaPoint("+feature.attributes.index+","+false+");'>Remove Via Point</a></div>",
					    	                                     null, true);
					    	            feature.popup = popupSelection;
					    	            map.addPopup(popupSelection);
				    				}else{
				    					popupSelection.destroy();
				    					popupSelection = new OpenLayers.Popup.FramedCloud("chicken", 
	   	                                     feature.geometry.getBounds().getCenterLonLat(),
	   	                                     new OpenLayers.Size(100,300),
	   	                                     "<div style='font-size:.8em'><b>Action on Feature</b><br><IMG SRC='../resources/img/deleteVia.png' ALIGN='absmiddle'><a href='#' onclick='removeViaPoint("+feature.attributes.index+","+false+");'>Remove Via Point</a></div>",
	   	                                     null, true);
						   	            feature.popup = popupSelection;
						   	            map.addPopup(popupSelection);
				    				}
								}
			    			}
		                });
			    map.addControl(selectControl);
			}else{
				selectControl.activate();
			}
		}
		
		
		//-----------------------------------------
		//Dispacher dell'evento updateFeaturesEvent
		//-----------------------------------------
		document.addEventListener("updateFeaturesEvent",handlerUpdateFeatures,false);
		document.addEventListener("orderUpFeaturesEvent",handlerOrderUpFeatures,false);
		document.addEventListener("orderDownFeaturesEvent",handlerOrderDownFeatures,false);
		
		function handlerOrderDownFeatures(event){
			var arrayFeatureAll = vertorHandlerPoint.features;
			var featuresViaPoints = [];
			var rowIndex = event.rowIndex;
			
			for(var i=0; i<arrayFeatureAll.length; i++){
				if(arrayFeatureAll[i].fid == 'viaPoint'){
					featuresViaPoints.push(arrayFeatureAll[i]);
				}
			}
			
			var tempList = [];
			var temp;
			for(var i=0; i<featuresViaPoints.length; i++){
				if(i == rowIndex){
					temp = featuresViaPoints[i];
					tempList[i] = featuresViaPoints[rowIndex+1]; 
				}else if(i == rowIndex+1){
					tempList[i] = temp;
				}else{
					tempList[i] = featuresViaPoints[i];
				}
			}
			
			for(var j=0; j<featuresViaPoints.length; j++){
				vertorHandlerPoint.removeFeatures(featuresViaPoints[j]);
			}
			
			for(var j=0; j<featuresViaPoints.length; j++){
				vertorHandlerPoint.addFeatures(tempList[j]);
			}
		}
		
		function handlerOrderUpFeatures(event){
			var arrayFeatureAll = vertorHandlerPoint.features;
			var featuresViaPoints = [];
			var rowIndex = event.rowIndex;
			
			for(var i=0; i<arrayFeatureAll.length; i++){
				if(arrayFeatureAll[i].fid == 'viaPoint'){
					featuresViaPoints.push(arrayFeatureAll[i]);
				}
			}
			
			var tempList = [];
			var temp;
			for(var i=0; i<featuresViaPoints.length; i++){
				if(i == rowIndex-1){
					temp = featuresViaPoints[i];
					tempList[i] = featuresViaPoints[rowIndex]; 
				}else if(i == rowIndex){
					tempList[i] = temp;
				}else{
					tempList[i] = featuresViaPoints[i];
				}
			}
			
			for(var j=0; j<featuresViaPoints.length; j++){
				vertorHandlerPoint.removeFeatures(featuresViaPoints[j]);
			}
			
			for(var j=0; j<featuresViaPoints.length; j++){
				vertorHandlerPoint.addFeatures(tempList[j]);
			}
		}
		
		/**
		* Function, si occupa di aggiornare i marker delle tappe presenti su mappa
		**/
		function handlerUpdateFeatures(event){
			indexFeatures = event.aIndex;
			var newIndexFeatures = [];
			for (var i=0; i<indexFeatures.length; i++){
				newIndexFeatures.push(parseInt(indexFeatures[i]) +1);
			}
			
			var index = 0;
			var arrayFeatureAll = vertorHandlerPoint.features;
			var arrayTempFeatureOld = [];
			var arrayTempFeatureNew = [];
			for(var j=0; j<arrayFeatureAll.length; j++){
				if(arrayFeatureAll[j].fid == 'viaPoint'){
					var tempFeature = arrayFeatureAll[j];
					arrayTempFeatureOld.push(tempFeature);
					tempFeature.attributes.index = newIndexFeatures[index];
					arrayTempFeatureNew.push(tempFeature);
					index++;
				}
			}
			for(var j=0; j<arrayTempFeatureOld.length; j++){
				vertorHandlerPoint.removeFeatures(arrayTempFeatureOld[j]);
			}
			for(var j=0; j<arrayTempFeatureNew.length; j++){
				vertorHandlerPoint.addFeatures(arrayTempFeatureNew[j]);
			}
		}
		
		
		/**
		/* Funzione per la rimozione del viaPoint e conseguente ricalcolo del percorso
		**/
		function removeViaPoint(index, isFromList) {
			deleteIndex = null;
			dragList = Ext.getCmp("viaPointList");
			formRN = Ext.getCmp("routingID");
			if(deleteIndex == null || !isFromList){
				formRN.removeViaPointOrigin(index);
			}
			else{
				deleteIndex = index;
				formRN.removeViaPoint(deleteIndex);
			}
			
			
			var arrayFeatureAll = vertorHandlerPoint.features;
			vertorHandlerPoint.removeFeatures(vertorHandlerPoint.getFeaturesByAttribute('index',index));
			formReverse.updateDataList();
			dragList.updateFeature();
			tempFeatureArray = [];
			formRN.recalculateNavigation();
			
			dragList.updateMoveArray();
			popupSelection.hide();
			
        }
		
		//-----------------------------------------
		//Dispacher dell'evento removeViaPointEvent
		//-----------------------------------------
		document.addEventListener("removeViaPointEvent",handlerRemoveViaPoint,false);
		
		function handlerRemoveViaPoint(event){
			var index = event.rowIndex;
			removeViaPoint(index,true);
		}
		
		//---------------------------------------------
		//Dispacher dell'evento Upadate index via Point
		//---------------------------------------------
		document.addEventListener("indexViaUpdateEvent",updateIndexVia,false);
		
		function updateIndexVia(event){
				indexVia = (event.indexViaUp -1);
				indexToDelete = event.indexDeleted;
		}
      </script>
</body>
</html>




