<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title id='title'>Open Location Service - OLS</title>

<!-- ** CSS ** -->
<!-- base library -->
<link rel="stylesheet" type="text/css" href="../resources/extJS/css/ext-all.css" />
<link rel="stylesheet" type="text/css" href="../resources/extJS/css/style.css" />

<!-- Open Layers Lybrary -->
<script src="http://openlayers.org/api/OpenLayers.js"></script>


<!-- ** Javascript ** -->
<!-- ExtJS library: base/adapter -->
<script type="text/javascript"
	src="../resources/extJS/adapter/ext-base.js"></script>
<!-- ExtJS library: all widgets -->
<script type="text/javascript" src="../resources/extJS/ext-all-debug.js"></script>


<!-- extensions -->
<script type="text/javascript" src="components/georouting/FormGeorouting.js"></script>
<script type="text/javascript" src="components/georouting/ListViewGeorouting.js"></script>

</head>
<!-- page specific http://vmap0.tiles.osgeo.org/wms/vmap0-->
<body>
	<fieldset style="width:100%; height:70%"> 
		<div style="width:100%; height:100%" id="map"></div>
	</fieldset>
      <script defer="defer" type="text/javascript">
        var map = new OpenLayers.Map('map');
        var wms = new OpenLayers.Layer.WMS( "OpenLayers WMS",
            "http://labs.metacarta.com/wms/vmap0", {layers: 'basic'} );
        map.addLayer(wms);
        markers = new OpenLayers.Layer.Markers("StreetMarker");   			
        map.addLayer(markers);
        map.zoomToMaxExtent();
        
        Ext.onReady(function() {
    		Ext.QuickTips.init();

    		var form = new GEO.GeoroutingForm();
    		form.render(document.body);
    		form.setHost('localhost');
    		
    		var listGeo = new GEO.ListGeoroutingForm();
    		listGeo.render(document.body);
    		
    		document.addEventListener("georoutingEvent",handlerZoom,false);
    		function handlerZoom(event){
    			var position = event.pos;
    			var lon = position.split(" ")[0];
    			var lat = position.split(" ")[1];
				//Add Marker Place
				markers.clearMarkers();
				var location = new OpenLayers.LonLat(lon,lat);
				var size = new OpenLayers.Size(21,25);
			    var offset = new OpenLayers.Pixel(-(size.w/2), -size.h);
			    var icon = new OpenLayers.Icon('http://www.openlayers.org/dev/img/marker.png',size,offset);
			    markers.addMarker(new OpenLayers.Marker(location,icon.clone())); 
			    
    			map.setCenter(location,13);
    		}
    	});
      </script>
</body>
</html>




