<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title id='title'>Open Location Service - OLS</title>
<link rel="shortcut icon" href="../resources/img/favicon.png" />

<!-- ** CSS ** -->
<!-- base library -->
<link rel="stylesheet" type="text/css" href="../resources/extJS/css/ext-all.css" />
<link rel="stylesheet" type="text/css" href="../resources/extJS/css/style.css" />
<link rel="stylesheet" type="text/css" href="../resources/css/style.css" />

<!-- Open Layers Lybrary -->
<script src="http://openlayers.org/api/OpenLayers.js"></script>
<!-- Google API -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAAjpkAC9ePGem0lIq5XcMiuhR_wWLPFku8Ix9i2SXYRVK3e45q1BQUd_beF8dtzKET_EteAjPdGDwqpQ"></script>
<script src="http://maps.gstatic.com/intl/it_ALL/mapfiles/441c/maps2.api/main.js" type="text/javascript"></script>


<!-- ** Javascript ** -->
<!-- ExtJS library: base/adapter -->
<script type="text/javascript"
	src="../resources/extJS/adapter/ext-base.js"></script>
<!-- ExtJS library: all widgets -->
<script type="text/javascript" src="../resources/extJS/ext-all-debug.js"></script>


<!-- extensions Geocoding-->
<script type="text/javascript" src="components/georouting/FormGeorouting.js"></script>
<script type="text/javascript" src="components/georouting/ListViewGeorouting.js"></script>
<!-- extensions Reverse Geocoding-->
<script type="text/javascript" src="components/reverse/FormReverse.js"></script>
<!-- extensions Routing Navigation -->
<script type="text/javascript" src="components/routing/FormRoutingNavigation.js"></script>

</head>
<!-- page specific http://vmap0.tiles.osgeo.org/wms/vmap0-->
<body>
	<fieldset class="mapContainer">
		<div id="map"></div>
	</fieldset>
      <script defer="defer" type="text/javascript">
      	//--------------------------------------
      	// Get control of the right-click event:
		//--------------------------------------
		document.getElementById('map').oncontextmenu = function(e){
		 e = e?e:window.event;
		 if (e.preventDefault) e.preventDefault(); // For non-IE browsers.
		 else return false; // For IE browsers.
		};
		
      	var formReverse = new RGEO.ReverseGeoroutingForm();
      	formReverse.setHost(document.location.host+ ":" + document.location.port);
    	//---------------------------------------------------------------
    	//controllo aggiunto a openLayer per il recupero delle coordinate
    	//---------------------------------------------------------------
    	OpenLayers.Control.Click = OpenLayers.Class(OpenLayers.Control, {
              defaultHandlerOptions: {
                  'single': true,
                  'double': false,
                  'pixelTolerance': 0,
                  'stopSingle': false,
                  'stopDouble': false
              },
              handleRightClicks:true,
              initialize: function(options) {
                  this.handlerOptions = OpenLayers.Util.extend(
                      {}, this.defaultHandlerOptions
                  );
                  OpenLayers.Control.prototype.initialize.apply(
                      this, arguments
                  );
                  this.handler = new OpenLayers.Handler.Click(
                      this, {
                          'click': this.trigger,
                          'rightclick': this.triggerRight
                      }, this.handlerOptions
                  );
              },

              trigger: function(e) {
                  var lonlat = map.getLonLatFromPixel(e.xy);
                  formReverse.getForm().findField('lat').setValue(lonlat.lat);
                  formReverse.getForm().findField('lon').setValue(lonlat.lon);
                  formReverse.callService(lonlat.lat, lonlat.lon, document.location.host + ":" + document.location.port);
              },
              
              triggerRight: function(e) {
            	  var lonlat = map.getLonLatFromPixel(e.xy);
            	  
            	  popup = new OpenLayers.Popup.FramedCloud("featurePopup",
                          lonlat,
                          new OpenLayers.Size(100,100),
                          "<h2> Navigation </h2>" 
//                           +"Longitudine: "+lonlat.lon+ "<br> Latidutine: "+lonlat.lat
							+"<br><br><button href='#' onclick='addStartMarker("+lonlat.lon+","+lonlat.lat+");'>"
                          	+"<IMG SRC='../resources/img/ini.png' ALIGN='absmiddle'> Start from here</button>"+
                          	"<button href='#' onclick='addEndMarker("+lonlat.lon+","+lonlat.lat+");'>"
                          	+"<IMG SRC='../resources/img/fin.png' ALIGN='absmiddle'> End to here</button>",
                          null, true);

       			  map.addPopup(popup);
              }
              

		});
    	//--------------
    	//Fine controllo
    	//--------------
      
        var map = new OpenLayers.Map('map');
        
		//-----------------
		//Add Google Layers
		//-----------------
		var gphy = new OpenLayers.Layer.Google(
			"Google Physical",
			{type: G_PHYSICAL_MAP}
		);
		var gmap = new OpenLayers.Layer.Google(
			"Google Streets", // the default
			{numZoomLevels: 20}
		);
		var ghyb = new OpenLayers.Layer.Google(
			"Google Hybrid",
			{type: G_HYBRID_MAP, numZoomLevels: 20}
		);
		var gsat = new OpenLayers.Layer.Google(
			"Google Satellite",
			{type: G_SATELLITE_MAP, numZoomLevels: 22}
		);
		map.addLayers([ghyb, gphy, gmap, gsat]);
		//-----------------
		//End Google Layers
		//-----------------
        
        
        markers = new OpenLayers.Layer.Markers("StreetMarker");   			
        map.addLayer(markers);
        map.zoomToMaxExtent();
        
      	//---------------------------------
        //Aggiunta del controllo alla mappa
        //---------------------------------
        map.addControl(new OpenLayers.Control.LayerSwitcher());
        // map.setCenter(new OpenLayers.LonLat(0, 0), 0);
        map.zoomToMaxExtent();

        var click = new OpenLayers.Control.Click();
        map.addControl(click);
        click.activate();
        
        
        //--------------------------------
        //Definizione dei componenti extJS
        //--------------------------------
        Ext.onReady(function() {
    		Ext.QuickTips.init();

    		//--------------
    		//Form Georuting
    		//--------------
    		var form = new GEO.GeoroutingForm();
    		form.render(document.body);
    		form.setHost(document.location.host + ":" + document.location.port);
    		
    		//-----------------------
    		//Form Routing Navigation
    		//-----------------------
    		var formRN = new RNGEO.RoutinNavigationForm;
    		formRN.render(document.body);
    		
    		//-----------------------
    		//Form Reverse Georouting
    		//-----------------------
    		formReverse.render(document.body);
    		
    		//-----------------------
    		//Lista dei Risulatti GEO
    		//-----------------------
    		var listGeo = new GEO.ListGeoroutingForm();
    		listGeo.render(document.body);
    		
    		document.addEventListener("georoutingEvent",handlerZoom,false);
    		
    		//Definizione del handler
    		function handlerZoom(event){
    			var position = event.pos;
    			var lon = position.split(" ")[0];
    			var lat = position.split(" ")[1];
				//Add Marker Place
				markers.clearMarkers();
				var location = new OpenLayers.LonLat(lon,lat);
				var size = new OpenLayers.Size(21,25);
			    var offset = new OpenLayers.Pixel(-(size.w/2), -size.h);
			    var icon = new OpenLayers.Icon('http://www.openlayers.org/dev/img/marker.png',size,offset);
			    markers.addMarker(new OpenLayers.Marker(location,icon.clone())); 
			    
    			map.setCenter(location,17);
    		}
    		
    	});
        
        function addEndMarker(lon, lat){
        	var location = new OpenLayers.LonLat(lon,lat);
			var size = new OpenLayers.Size(21,39);
		    var offset = new OpenLayers.Pixel(-(size.w/2), -size.h);
		    var icon = new OpenLayers.Icon('../resources/img/endPoint.png',size,offset);
		    markers.addMarker(new OpenLayers.Marker(location,icon.clone())); 
		  //TODO: Richiama il servizio di Reverse Geocoding
      	}
      	
      	function addStartMarker(lon, lat){
      		var location = new OpenLayers.LonLat(lon,lat);
			var size = new OpenLayers.Size(21,39);
		    var offset = new OpenLayers.Pixel(-(size.w/2), -size.h);
		    var icon = new OpenLayers.Icon('../resources/img/startPoint.png',size,offset);
		    markers.addMarker(new OpenLayers.Marker(location,icon.clone())); 
		    //TODO: Richiama il servizio di Reverse Geocoding
		    	
      	}
        
      </script>
</body>
</html>




